#app {
    height: 100%;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #000000;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: left;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Add relative positioning */
}

.slide-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Ensure the background image is below the overlay */
}

.slide-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 1; /* Ensure the overlay is above the image but below the text */
}

.slide-content {
    position: relative;
    z-index: 2; /* Ensure the text is above the overlay */
    padding: 20px; /* Add padding if needed */
    color: white; /* Ensure text color is white for visibility */
}

.slide-1 {
    background-image: url(https://t3.ftcdn.net/jpg/06/09/31/24/360_F_609312487_cnMcTSARF8C4RMMDqkjkYxBBWE3MUH69.jpg);
}

.slide-2 {
    background-image: url(https://media.istockphoto.com/id/1409236261/photo/healthy-food-healthy-eating-background-fruit-vegetable-berry-vegetarian-eating-superfood.jpg?s=612x612&w=0&k=20&c=kYZKgwsQbH_Hscl3mPRKkus0h1OPuL0TcXxZcO2Zdj0=);
}

.slide-3 {
    background-image: url(https://media.istockphoto.com/id/975806766/photo/green-ripening-soybean-field-agricultural-landscape.jpg?s=612x612&w=0&k=20&c=2NDwoPNIVPAkOCMdKmRIbs63UOJhVODnONp__K64eQg=);
}

.slide-1,
.slide-2,
.slide-3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
@keyframes bottomToTop {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .slide-content {
      position: relative;
      z-index: 2;
      padding: 20px;
      color: white;
      animation: bottomToTop 1s ease-in-out;
  }
  
